<div ng-show="authority === 'ROLE_ADMIN'">
	<h4>list:</h4>

	<div>
		<!-- {{phoneTypeList._embedded.phoneType}} -->
		<div ng-hide="!phoneTypeList._embedded.phoneType == ''">
			<p>Phone type list is empty</p>
		</div>
		<table ng-show="phoneTypeList._embedded.phoneType.length > 0">
			<thead>
				<tr>
					<td>Name</td>
					<td></td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="type in phoneTypeList._embedded.phoneType">
					<td>{{type.name}}</td>
					<td>{{type._links.self.href.split("/")[5]}}<a ui-sref="phoneType.edit({id:type._links.self.href.split('/')[5]})">edit</a></td>
					<td>{{type._links.self.href.split("/")[5]}}<a href=""
						ng-click="deleteItem(type._links.self.href.split('/')[5])">delete</a></td>
				</tr>
			</tbody>
		</table>

	</div>
</div>

<div ng-show="!authenticated">
	<p>Login to see this content</p>
</div>
<div ng-show="(authenticated && authority !== 'ROLE_ADMIN')">
	<p>Access denied</p>
</div>